.wrapper {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    font: "Tahome";
    padding: 20px;
    font-family: 'Quicksand', sans-serif;

    font-size: large;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}